@import "../settings/colours";

.util-visuallyhidden {
  @include visuallyhidden;
}

.util-displaynone {
  display: none;
}

.util-nofocus:focus {
  outline: none;
}

.util-bg-tint__yellow {
  background-color: $yellow-10;
}

.util-print-only {
  @media screen {
    display: none;
  }
}

.util-print-hide {
  @media print {
    display: none;
  }
}

.util-no-margin {
  margin-top: 0 !important;
}

.util-no-margin-desktop {

  // @media(min-width: 925px){
  @include media(desktop) {
    margin-top: 0 !important;
  }
}

form .grid-row {

  // @media(min-width: 925px){
  @include media(desktop) {
    margin-top: 0 !important;
  }
}

.util-displaynone-mobile {

  @include media(mobile) {
    display: none;
  }

}
