{% set PROTOTYPEURL = "accessibility-statement" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Overview" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ serviceName}}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/" + PROTOTYPEURL + "/overview",
            text: "Overview",
            current: "true"
          },
          {
            href: "/" + PROTOTYPEURL + "/cpi",
            text: "Where confidential patient information is used"
          },
          {
            href: "/" + PROTOTYPEURL + "/not-apply",
            text: "Where your choice does not apply"
          },
          {
            href: "/" + PROTOTYPEURL + "/start",
            text: "Make your choice"
          }
        ]
      }) }}

      <p>
          Your health records contain confidential patient information, which can be used to help with research and planning. If you would like this to stop, you can opt out of this yourself or on behalf of someone else. For example, if you are a parent or guardian of a child under the age of 13.
        </p>
        <p>
          Your choice will only apply to the health and care system in England. This does not apply to health or care services accessed in Scotland, Wales or Northern Ireland.
        </p>

        <div class="nhsuk-inset-text">
          <p>This information is also available in <a href="/{{ PROTOTYPEURL }}/languages">other languages and formats</a>.</p>
        </div>

        <h2 id="your-confidential-patient-information">What confidential patient information is</h2>
          <p>Two types of information from your health records join together to become confidential patient information. This is information that:</p>
          <ul>
            <li>can identify you</li>
            <li>says something about your health care or treatment</li>
          </ul>
          <p>One example can include your name and address (identifies you) along with what medicine you take (health care or treatment). Identifiable information on its own is used by health and care services to contact patients and this is not confidential patient information.</p>


          <h2 id="using-your-confidential-patient-information">How we use your confidential patient information</h2>

          <h3 id="your-individual-care">Your individual care</h3>
          <p>Health and care staff may use confidential patient information from your health records to help with your treatment and care. For example, when you visit your GP, they may look at your records for important information about your health. </p>

          <h3 id="research-and-planning">Research and planning</h3>
          <p>Confidential patient information is also used to:</p>
          <ul>
            <li>plan and improve health and care services</li>
            <li>research and develop cures for serious illnesses</li>
          </ul>

          <h2 id="where-you-have-a-choice">Where you have a choice</h2>
          <p>
            You can stop confidential patient information from your health records from being used for research and planning. Your confidential patient information will still be used for your individual care. Any choice you make will not change this.
          </p>
          <p>
          <a href="/{{ PROTOTYPEURL }}/start">Find out how to make your choice</a>

      {{ pagination({
        "nextUrl": "/" + PROTOTYPEURL + "/cpi",
        "nextPage": "Where confidential patient information is used"
      }) }}

    </div>
  </div>
{% endblock %}
