{% set PROTOTYPEURL = "website/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Where confidential patient information is used" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/" + PROTOTYPEURL,
        text: "Home"
      }
    ],
    href: "/" + PROTOTYPEURL + "/overview",
    text: serviceName
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ serviceName}}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/" + PROTOTYPEURL + "/overview",
            text: "Overview"
          },
          {
            href: "/" + PROTOTYPEURL + "/cpi",
            text: "Where confidential patient information is used",
            current: "true"
          },
          {
            href: "/" + PROTOTYPEURL + "/not-apply",
            text: "Where your choice does not apply"
          },
          {
            href: "/" + PROTOTYPEURL + "/start",
            text: "Make your choice"
          }
        ]
      }) }}

      <p>
        The NHS collects confidential patient information from all NHS organisations, trusts and local authorities. Confidential patient information is also collected from private organisations, such as private hospitals providing NHS funded care. Research bodies and organisations can request access to this information.
      </p>
      <p>Research bodies and organisations include:</p>
      <ul>
        <li>
          university researchers
        </li>
        <li>
          hospital researchers
        </li>
        <li>
          medical royal colleges
        </li>
        <li>
          pharmaceutical companies researching new treatments
        </li>
      </ul>
      <h2 id="who-cant-use-your-data" class="h3">Who cannot use confidential patient information</h2>
      <p>
        Access to confidential patient information will not be given for:
      </p>
      <ul>
        <li>
          marketing purposes
        </li>
        <li>
          insurance purposes
        </li>
      </ul>
      <p>(unless you specifically request this).</p>
      <h2 id="how-your-data-is-protected" class="h3">How confidential patient information is protected</h2>
      <p>Protection of your confidential patient information is taken very seriously and it is looked after in accordance with good practice and the law. There are very strict rules on how any of your data can and cannot be used, and you have clear legal rights.</p>
      <p>
        Every organisation that provides health and care services will take every step to:
      </p>
      <ul>
        <li>
          ensure data remains secure
        </li>
        <li>
          use anonymised data whenever possible
        </li>
        <li>
          use confidential patient information to benefit health and care
        </li>
        <li>
          not use confidential patient information for marketing or insurance purposes (unless you specifically request this)
        </li>
        <li>
          make it clear why and how data is being used
        </li>
        <li>
          respect your decision if you decide to opt out
        </li>
        <li>
          only use information about you where allowed by the law
        </li>
      </ul>
      <p>All NHS organisations must provide information on the type of data they collect and how it is used. Data release registers are published by NHS Digital and Public Health England, showing records of the data they have shared with other organisations.</p>

      {{ pagination({
        "previousUrl": "/" + PROTOTYPEURL + "/overview",
        "previousPage": "Overview",
        "nextUrl": "/" + PROTOTYPEURL + "/not-apply",
        "nextPage": "Where your choice does not apply"
      }) }}

    </div>
  </div>
{% endblock %}
