{% set PROTOTYPEURL = "website/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Other ways to make a choice " %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/" + PROTOTYPEURL,
        text: "Home"
      },
      {
        href: "/" + PROTOTYPEURL + "/overview",
        text: serviceName
      }
    ],
    href: "/" + PROTOTYPEURL + "/start",
    text: "Make your choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ serviceName}}
        </span>
      </h1>

      <p>You can make or change a choice for: </p>
      <ul>
        <li>
          <a href="#yourself">yourself </a>
        </li>
        <li>
          <a href="#anotherPerson">someone else such as your child </a>
        </li>
      </ul>

      <h2 id="yourself">Make a choice for yourself </h2>
      <p>You can make or change your choice: </p>
      <ul>
        <li>by phone </li>
        <div class="">or</div>
        <li>by print and post </li>
      </ul>
      <h3>Make your choice by phone </h3>
      <p>Speak to the NHS Digital Contact Centre. They can help you use the online service or make a choice on your behalf. You’ll need to confirm your identity.  </p>
      <p><strong>NHS Digital Contact Centre </strong>
      <br>0300 303 5678
      <br>Monday to Friday, 9am to 5pm excluding bank holidays</p>

      <h3>Make your choice by print and post </h3>
      <p>Use this form to make your choice. You’ll need to complete it and return it to us by post. </p>
      <section class="nhsuk-download">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
              <img alt="download Make a choice by post form" class="nhsuk-download__thumbnail" src="/images/Manage your choice_THUMBNAIL.png" height="150" width="auto">
            </a>
          </div>
          <div class="nhsuk-grid-column-three-quarters">
            <ul class="audit-list--unstyled">
              <li><a href="/forms/Non-Digital Opt-Out Form v15">Make a choice by post</a></li>
              <li>Published: 25/05/2018</li>
              <li>Last updated: 25/05/2018</li>
            </ul>
          </div>
        </div>
        <p>
          <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
        </p>
    </section>

    <h2 id="anotherPerson">Make a choice for someone else </h2>
    <p>You can make or change a choice by post for: </p>
    <ul>
      <li>your children under the age of 13 </li>
      <li>another person who cannot manage their choice themselves </li>
    </ul>
    <h3>Make a choice for your children  </h3>
    <p>You can make or change a choice by post for children under the age of 13. </p>
    <p>You must be the parent or legal guardian. </p>
    <section class="nhsuk-download">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
          <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
            <img alt="download Make your child’s choice on their behalf form" class="nhsuk-download__thumbnail" src="/images/Manage your childs choice on their behalf_thumbnail.jpg" height="150" width="auto">
          </a>
        </div>
        <div class="nhsuk-grid-column-three-quarters">
          <ul class="audit-list--unstyled">
            <li><a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">Make your child’s choice on their behalf</a></li>
            <li>Published: 25/05/2018</li>
            <li>Last updated: 25/05/2018</li>
          </ul>
        </div>
      </div>
      <p>
        <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
      </p>
    </section>

    <h3>Manage another person’s choice on their behalf  </h3>
    <p>You can make or change a choice by post for another person who cannot manage their choice themselves. </p>
    <p>You must have the legal authority to do this. For example, if you have power of attorney. </p>

      <section class="nhsuk-download">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
              <img alt="download Make your child’s choice on their behalf form" class="nhsuk-download__thumbnail" src="/images/Manage another persons choice on their behalf_THUMBNAIL.png" height="150" width="auto">
            </a>
          </div>
          <div class="nhsuk-grid-column-three-quarters">
            <ul class="audit-list--unstyled">
              <li><a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">Manage another person's choice on their behalf</a></li>
              <li>Published: 25/05/2018</li>
              <li>Last updated: 25/05/2018</li>
            </ul>
          </div>
        </div>
        <p>
          <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
        </p>
      </section>

      {{ pagination({
        "previousUrl": "/" + PROTOTYPEURL + "/start",
        "previousPage": "Make your choice"
      }) }}

    </div>
  </div>
{% endblock %}
