// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

@import 'components/list-cards';
@import 'components/cards';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.audit-list--unstyled {

  list-style-type: none;
  padding-left: 0;
}

.nhsuk-download__link {

  display: block;
  @include nhsuk-responsive-margin(4, "bottom")
}

.nhsuk-download__thumbnail {

  display: block;
  margin: 0 auto;

  @include mq($until: tablet) {
    margin: 0;
  }
}
