{% set PROTOTYPEURL = "improve-nhs-app" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Help users understand they're making a choice about the health and care system, not the NHS App" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <h2 class="h3">Option 2</h2>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL}}/not-app-choice/option-2/where-choice-applies">Where your choice applies</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL}}/not-app-choice/option-2/your-current-choice">Your current choice</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL}}/not-app-choice/option-2/make-a-choice">Make a choice</a>
      </li>
    </ul>

    </div>
  </div>
</div>
{% endblock %}
