{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "You must enable cookies to make your choice online" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <p>We put small files called cookies onto your device to keep your visit secure. <a href="https://your-data-matters.service.nhs.uk/cookiespolicy">Find out more about how to manage cookies.</a></p>

      <h2 class="h3">Other ways to make your choice</h2>

      <p>You can <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/other-ways-to-manage-your-choice/"> make your choice by phone or by filling out a paper form.</a></p>

    </div>
  </div>
</div>
{% endblock %}
