{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "System errors" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <h2 class="h3">Generic error</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/generic-error">Generic error</a>
        </li>
      </ul>
      <h2 class="h3">Service down</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/service-down/service-unavailable-unplanned">Service unavailable unplanned</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/service-down/service-unavailable-planned">Service unavailable planned</a>
        </li>
      </ul>
      <h2 class="h3">Session expired</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/session-expired">Session expired</a>
        </li>
      </ul>
      <h2 class="h3">Page not found</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/page-not-found">Page not found</a>
        </li>
      </ul>
      <h2 class="h3">Cookies</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/cookies-disabled">Cookies disabled</a>
        </li>
      </ul>
      <h2 class="h3">Geo restricted</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/geo-restricted">Geo restricted</a>
        </li>
      </ul>
      <h2 class="h3">User under 13</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/user-underage">User under 13</a>
        </li>
      </ul>
      <h2 class="h3">Errors using postcode</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/errors-using-postcode/no-contact-details-postcode">No contact details found for user</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/errors-using-postcode/no-match-records">Details do not match our records</a>
        </li>
      </ul>
      <h2 class="h3">Errors using NHS number</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/errors-using-nhs-number/no-contact-details-nhs-number">No contact details found for user</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/errors-using-nhs-number/no-unique-match">No unique match</a>
        </li>
        <li>
          <a href="/invalid-nhs-number/index">New index for invalid NHS number errors</a>
        </li>
      </ul>
      <h2 class="h3">Security code errors</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/security-code/no-security-code">User has requested a security code to be resent too many times</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/security-code/expired-security-code">Security code expired</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/security-code/incorrect-security-code">User has entered an incorrect security code too many times</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/security-code/wrong-contact-details">User's contact details are wrong</a>
        </li>
      </ul>
      <h2 class="h3">NHS App error</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/jwt-failure-app">JWT failure on NHS App</a>
        </li>
      </ul>
        <h2 class="h3">Choice errors</h2>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL}}/errors/system-error/choice-errors/technical-fail">User cannot make a choice or see current choice</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/errors/system-error/choice-errors/save-choice-failed">Unable to save user's choice</a>
          </li>
    </div>
  </div>
</div>
{% endblock %}
