{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Sorry, you’ll need to start again" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <p>You'll need to start again because you’ve not used this service for a while.</p>

      <p>We do this for your security.</p>

      <form action="/{{ PROTOTYPEURL }}/details/1_we-need-to-check-who-you-are" method="post">
          <input type="submit" class="button" value="Start again">
       </form>

</div>

</div>


    </div>

{% endblock %}
