{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Sorry, you must be 13 or older to use this service" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <p>Your parent or legal guardian can <a href="">make your choice on your behalf by filling out a paper form.</a></p>

    </div>
  </div>
</div>
{% endblock %}
