
  .nhs-radios__item {

    display: block;

    position: relative;

    min-height: 34px;
    margin-top: 16px;
    margin-bottom: 0;

    clear: left;
  }

  .nhs-radios__item:last-child,
  .nhs-radios__item:last-of-type {
    margin-bottom: 0;
  }

  .nhs-radios__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    opacity: 0;
    cursor: pointer;
  }

  .nhs-radios__label {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 54px 5px;
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    @include bold-font(20);
    line-height: $base-font-size * 1.5;
  }

  .nhs-radios__hint {

    display: block;
    padding-left: 54px;
    @include core-font(20);
    margin-top: 16px;
  }

  .nhs-radios__input + .nhs-radios__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    width: 34px;
    height: 34px;

    border: 2px solid $blue;
    border-radius: 50%;
    background: transparent;
  }

  .nhs-radios__input + .nhs-radios__label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;

    width: 18px;
    height: 18px;

    border: 2px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: $black;
  }

  // Focused state
  .nhs-radios__input:focus + .nhs-radios__label::before {
    // Since box-shadows are removed when users customise their colours
    // We set a transparent outline that is shown instead.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: 3px solid transparent;
    outline-offset: 3px;
    box-shadow: 0 0 0 3px $yellow;
  }

  // Selected state
  .nhs-radios__input:checked + .nhs-radios__label::after {
    opacity: 1;
  }

  // Disabled state
  .nhs-radios__input:disabled,
  .nhs-radios__input:disabled + .nhs-radios__label {
    cursor: default;
  }

  .nhs-radios__input:disabled + .nhs-radios__label {
    opacity: .5;
  }

  // Inline variant
  .nhs-radios--inline {

    @include media(tablet){

      clear: both;
      margin-top: 8px;

      .nhs-radios__item {
        float: left;
        clear: none;
      }

    }

  }
