
  .nhs-checkboxes__item {

    display: block;
    position: relative;
    clear: left;
    margin-top: 16px;
  }

  .nhs-checkboxes__item:last-child,
  .nhs-checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .nhs-checkboxes__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    @include bold-font(20);
    line-height: $base-font-size * 1.5;

  }

  .nhs-checkboxes__label {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    // padding: 8px $nhs-checkboxes-label-padding-left-right nhs-spacing(1);
    cursor: pointer;
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding: 8px 54px 5px;
    font-weight: 600;
  }

  .nhs-checkboxes__hint {
    display: block;
    // padding-right: $nhs-checkboxes-label-padding-left-right;
    // padding-left: $nhs-checkboxes-label-padding-left-right;
  }

  .nhs-checkboxes__input + .nhs-checkboxes__label::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 3px solid $nhs-blue;
    background: transparent;

    // padding-bottom: 1px;
  }

  .nhs-checkboxes__input + .nhs-checkboxes__label::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 7px;
    width: 18px;
    height: 7px;

    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 3px 3px;
    // Fix bug in IE11 caused by transform rotate (-45deg).
    // See: alphagov/nhs_elements/issues/518
    border-top-color: transparent;
    opacity: 0;
    background: transparent;
  }

  // Focused state
  .nhs-checkboxes__input:focus + .nhs-checkboxes__label::before {
    // Since box-shadows are removed when users customise their colours
    // We set a transparent outline that is shown instead.
    // https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
    outline: 3px solid transparent;
    outline-offset: 3px;
    box-shadow: 0 0 0 3px $yellow;
  }

  // Selected state
  .nhs-checkboxes__input:checked + .nhs-checkboxes__label::after {
    opacity: 1;
  }

  // Disabled state
  .nhs-checkboxes__input:disabled,
  .nhs-checkboxes__input:disabled + .nhs-checkboxes__label {
    cursor: default;
  }

  .nhs-checkboxes__input:disabled + .nhs-checkboxes__label {
    opacity: .5;
  }
