{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Enter your date of birth" %}

{% set title = "Error - " + contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
    <div class="error error-summary callout callout--error error-message error-message-active" role="alert" tabindex="-1">
      <h2 class="h3" id="error-summary">There is a problem</h2>
      <ul class="link-list" id="link-to-errors">
        <li id="dob-error-link">
          <a href="#dob">Date of birth must be in the past</a>
        </li>
      </ul>
    </div>
      <form class="" action="/{{ PROTOTYPEURL }}/details/4_do-you-know-your-NHS-number" method="get">
         <fieldset>
            <legend class="form-label error-label">
               <h1 class="h2">{{ contentTitle }}</h1>
            </legend>
            <div class="grid-row">
               <div class="column--two-thirds">
                  <div class="-date form-group form-row util-no-margin form-row-error-active has-error" id="dob">
                    <p class="error error-message error-label error-text error-message-active" id="dob-error">
                      Date of birth must be in the past
                    </p>
                     <span class="form-label__hint">For example, '5 7 1948'</span>
                     <div>
                        <label for="dob-day-input">Day</label>
                        <input autocomplete="off" type="number" id="dob-day-input" name="dob-day" value="5" class="day form-control input-okay" maxlength="2">
                     </div>
                     <div>
                        <label for="dob-month-input">Month</label>
                        <input autocomplete="off" type="number" id="dob-month-input" name="dob-month" value="7" class="month form-control input-okay" maxlength="2">
                     </div>
                     <div>
                        <label for="dob-year-input">Year</label>
                        <input autocomplete="off" type="number" id="dob-year-input" name="dob-year" value="2989" class="year form-control" maxlength="4">
                     </div>
                  </div>
               </div>
            </div>
         </fieldset>
         <input type="submit" class="button" id="submit-details" value="Continue">
      </form>
      <p>
         <a href="javascript: history.go(-1)">Go back to the previous page</a>
      </p>
   </div>
</div>
{% endblock %}
