{% set PROTOTYPEURL = "website/release" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Other ways to make your choice" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/" + PROTOTYPEURL,
        text: "Home"
      },
      {
        href: "/" + PROTOTYPEURL + "/overview",
        text: serviceName
      }
    ],
    href: "/" + PROTOTYPEURL + "/start",
    text: "Make your choice"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ serviceName}}
        </span>
      </h1>

      <p>
        If you choose not to allow your confidential patient information to be used for research and planning, this will be respected and applied by NHS Digital and Public Health England. These organisations collect, process and release health and adult social care data on a national basis.
      </p>
      <p>
        Your decision will also be respected and applied by all other organisations that are responsible for health and care information by March 2020.
      </p>

      <section class="nhsuk-download">
        <h2 id="set-a-choice-by-phone" class="h3">Make a choice by phone</h2>
        <p>
          You may contact the NHS Digital Contact Centre to verify your identity and discuss your choices. We may be able to guide you through the online service or make a choice on your behalf.
        </p>
        <p>
          Call: 0300 303 5678
        </p>
        <p>
          Open: 9am to 5pm Monday to Friday (excluding bank holidays).
        </p>
        <h2 id="set-a-choice-by-post" class="h3">Make your choice by post</h2>
        <p>
          If you are unable to use the online or telephone service, you can use a paper print-and-post form to set a choice instead.
        </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
              <img alt="download Make a choice by post form" class="nhsuk-download__thumbnail" src="/images/Manage your choice_THUMBNAIL.png" height="150" width="auto">
            </a>
          </div>
          <div class="nhsuk-grid-column-three-quarters">
            <ul class="audit-list--unstyled">
              <li><a href="/forms/Non-Digital Opt-Out Form v15">Make a choice by post</a></li>
              <li>Published: 25/05/2018</li>
              <li>Last updated: 25/05/2018</li>
            </ul>
          </div>
        </div>
        <p>
          <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
        </p>
    </section>

      <section class="nhsuk-download">
        <h2 id="set-a-choice-on-behalf-of-another-individual" class="h3">Make a choice on behalf of your children</h2>
        <p>
          Parents or legal guardians may set and manage a choice on behalf of their child under the age of 13.
        </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
              <img alt="download Make your child’s choice on their behalf form" class="nhsuk-download__thumbnail" src="/images/Manage your childs choice on their behalf_thumbnail.jpg" height="150" width="auto">
            </a>
          </div>
          <div class="nhsuk-grid-column-three-quarters">
            <ul class="audit-list--unstyled">
              <li><a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">Make your child’s choice on their behalf</a></li>
              <li>Published: 25/05/2018</li>
              <li>Last updated: 25/05/2018</li>
            </ul>
          </div>
        </div>
        <p>
          <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
        </p>
      </section>

      <section class="nhsuk-download">
        <h2 id="set-a-choice-on-behalf-of-another-individual" class="h3">Make another person's choice on their behalf</h2>
        <p>
          You can make or change a choice on behalf of another person, who is unable to make a choice independently. You must have the legal authority to do this. For example, if you have power of attorney.
        </p>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet">
            <a href="/forms/Non-Digital Opt-Out Form v15" class="nhsuk-download__link">
              <img alt="download Make your child’s choice on their behalf form" class="nhsuk-download__thumbnail" src="/images/Manage another persons choice on their behalf_THUMBNAIL.png" height="150" width="auto">
            </a>
          </div>
          <div class="nhsuk-grid-column-three-quarters">
            <ul class="audit-list--unstyled">
              <li><a href="/forms/Non-Digital Parental Request Opt-Out Form v20.pdf">Manage another person's choice on their behalf</a></li>
              <li>Published: 25/05/2018</li>
              <li>Last updated: 25/05/2018</li>
            </ul>
          </div>
        </div>
        <p>
          <a href="#" target="_blank">How your data will be processed to register and apply your opt-out<span class="nhsuk-u-visually-hidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window).</span>
        </p>
      </section>

      {{ pagination({
        "previousUrl": "/" + PROTOTYPEURL + "/start",
        "previousPage": "Make your choice"
      }) }}

    </div>
  </div>
{% endblock %}
