{% set PROTOTYPEURL = "design-strategies" %}
{% set contentTitle = "Help users to enter their NHS number correctly" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <p>NHS numbers are not well-known identifiers.</p>

      <p>Validation errors for asking users for their NHS numbers should be as helpful as possible. We should do the hard work to make it simple for users.</p>

      <p>We have different ways we handle validation errors when we ask users to enter their NHS number.</p>

      <h2 class="nhsuk-heading-m">Validation errors for enter your NHS number</h2>

            <ul>
              <li>
                <a href="/opt-out/v1/errors/validation/enter-your-nhs-number/no-number">No number</a>
              </li>
              <li>
                <a href="/opt-out/v1/errors/validation/enter-your-nhs-number/contains-letters">NHS number contains letters</a>
              </li>
              <li>
                <a href="/opt-out/v1/errors/validation/enter-your-nhs-number/national-insurance-number">Entry is in National Insurance number format</a>
              </li>
              <li>
                <a href="/opt-out/v1/errors/validation/enter-your-nhs-number/too-short">Too short</a>
              </li>
              <li>
                <a href="/opt-out/v1/errors/validation/enter-your-nhs-number/too-long">Too long</a>
              </li>
            </ul>
    </div>
  </div>
{% endblock %}
