{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Enter your security code" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}
{% set method = data['channelChoice'] %}
{% set authMethod %}
  {% if data['channelChoice'] %}
    {{ "email to al•••••••••••@gmail.com" if method == 'email' }}
    {{ "text to ••••••••788" if method == 'text' }}
  {% else %}
    text to ••••••••788
  {% endif %}
{% endset %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="reading-width">
         <p id="resend-notice" style="display:none;">We’ve resent your code to your chosen option. The code will expire in 30 minutes. Do not close this browser window or your code will also expire.</p>
         <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
            <h2 id="error-summary" class="h3">There is a problem</h2>
            <ul class="link-list">
               <li>
                  <a class="error-text" href="#code-input">No code was provided</a>
               </li>
            </ul>
         </div>
         <form class="form" action="/{{ PROTOTYPEURL }}/question/9_make-your-choice" method="post">
            <div class="form-group form-row">
               <h1 class="h2">
                  <label class="form-label h2" for="code-input">{{ contentTitle }}</label>
               </h1>
               <span class="form-label__hint">We sent your security code by <span id="2fa-method">{{ authMethod }}</span></span>
               <div id="code-input-error" class="error error-message">
                  <p class="error-text error-label">No code was provided</p>
               </div>
               <input id="code-input" class="-small form-control" type="number">
               <p>Didn't get your security code? <a id="resend-code" href="/{{ PROTOTYPEURL }}/OTP/8_resent-enter-your-security-code#alert">Resend code</a></p>
               <input type="submit" class="button" value="Submit">
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
