{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Validation errors" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <h2 class="h3">Enter your name</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-name/no-name">No name entered</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-name/invalid-characters">User entered characters like %</a>
        </li>
      </ul>

      <h2 class="h3">Enter your date of birth</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-date">No date entered</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/date-is-in-the-future">Date is in the future</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-day-or-month">No day or month</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-day-or-year">No day or year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-day">No day</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-month-or-year">No month or year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-month">No month</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/no-year">No year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/invalid-dob-or-characters">Invalid date of birth in 2 or more fields and/or invalid characters</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/day-invalid">Day invalid such as too long or too short</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/month-invalid">Month invalid such as too long or too short</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/enter-your-date-of-birth/year-invalid">Year invalid such as too long or too short</a>
        </li>
      </ul>
      <h2 class="h3">Do you know your NHS number?</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/do-you-know-your-nhs-number/no-option-selected">No option selected</a>
        </li>
      </ul>
      <h2 class="h3">Enter your NHS number</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-nhs-number/no-number">No number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-nhs-number/contains-letters">NHS number contains letters</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-nhs-number/national-insurance-number">Entry is in National Insurance number format</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-nhs-number/too-short">Too short</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-nhs-number/too-long">Too long</a>
        </li>
      </ul>

      <h2 class="h3">Enter your postcode</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-postcode/no-postcode">No postcode</a>
        </li>
      </ul>

      <h2 class="h3">Get your security code</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/get-your-security-code/no-option-selected">No option selected</a>
        </li>
      </ul>

      <h2 class="h3">Enter your security code</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/enter-your-security-code/no-code">No code</a>
        </li>
      </ul>

      <h2 class="h3">Make your choice</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/validation/make-your-choice/no-choice-made">No choice made</a>
        </li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}
