{% set PROTOTYPEURL = "invalid-nhs-number" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Sorry, we cannot accept your NHS number" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <p>
        Check the NHS number you entered. If you typed your NHS number incorrectly or you typed a number that is not your NHS number you can <a href="/opt-out/v1/nhs-number/5_enter-your-NHS-number">try again</a>.
      </p>

      <p>
        If you typed your NHS number correctly, contact us for help making your choice:
      </p>

      <p>Telephone: 0300 303 5678
      <br>Monday to Friday, 9am to 5pm excluding bank holidays</p>

    </div>
  </div>
</div>
{% endblock %}
