{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Check your details" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% set fullName %}
  {% if data["first-name"] %}
    {{ data["first-name"]}} {{ data["last-name"]}}
  {% else %}
    Sally Wash
  {% endif %}
{% endset %}

{% set dob %}
  {% if data["dob-day"] %}
    {{ data["dob-day"]}} {{ data["dob-month"]}} {{ data["dob-year"]}}
  {% else %}
    5 7 1948
  {% endif %}
{% endset %}

{% set nhsNumber %}
  {% if data["nhs-number"] %}
    {{ data["nhs-number"]}}
  {% else %}
    485 777 3456
  {% endif %}
{% endset %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="reading-width">
         <h1 class="h2">{{ contentTitle }}</h1>
         <div class="">
            <dl class="review-your-answers" id="your-name">
               <div>
                  <dt class="question">
                     Your name
                  </dt>
                  <dd class="answer">{{ fullName }}</dd>
                  <dd class="change">
                     <a href="/{{ PROTOTYPEURL }}/nhs-number/change/2_enter-your-name">
                     Change<span class="util-visuallyhidden"> your name</span>
                     </a>
                  </dd>
               </div>
            </dl>
            <dl class="review-your-answers" id="your-dob">
               <div>
                  <dt class="question">
                     Your date of birth
                  </dt>
                  <dd class="answer">{{ dob }}</dd>
                  <dd class="change">
                     <a href="/{{ PROTOTYPEURL }}/nhs-number/change/3_enter-your-dob">
                     Change<span class="util-visuallyhidden"> your date of birth</span>
                     </a>
                  </dd>
               </div>
            </dl>
            <dl class="review-your-answers" id="your-nhs-number">
               <div>
                  <dt class="question">
                     Your NHS Number
                  </dt>
                  <dd class="answer"> {{ nhsNumber }}</dd>
                  <dd class="change">
                     <a href="/{{ PROTOTYPEURL }}/nhs-number/change/5_enter-your-NHS-number">
                     Change<span class="util-visuallyhidden"> your NHS Number</span>
                     </a>
                  </dd>
               </div>
            </dl>
         </div>
         <form action="/{{ PROTOTYPEURL }}/OTP/7_get-your-security-code" method="get">
          <p>
            By continuing you agree to let us use your details to:
          </p>
          <ul>
            <li>check who you are</li>
            <li>find your contact details from your health records so we can send you a security code</li>
          </ul>
          <input type="Submit" class="button" id="submit-details" value="Agree and submit">
        </form>
      </div>
   </div>
</div>
{% endblock %}
