@import "../environment/settings/colours";
@import "../environment/settings/typography";

.global-footer {
  background-color: $nhs-blue;
  border-top: $baseline-grid-unit solid $dark-blue;
  color: $white;
  margin-top: 32px;

  * {
    @include core-font(16);

    + * {
      @include element-spacing;
    }
  }

  a {
    @include link-reverse-polarity;
  }
}

.global-footer__inner {
  @include site-width-container;
  padding-bottom: $baseline-grid-unit * 24;
  padding-top: $baseline-grid-unit * 8;

  @include media(desktop) {
    padding-bottom: $baseline-grid-unit * 32;
    padding-top: $baseline-grid-unit * 12;
  }
}
