.otp-contact_field {

  display: block;
  margin-top: 8px;
  font-weight: 500
}

.otp {

  padding: 1em;
  border-left: 6px solid $grey-2;
  background-color: $grey-5;
}

.otp__list {

  margin-top: 4px;

}
