{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Enter your name" %}
{% set beta = "True" %}
{% set title = "Error - " + contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
     <div class="error error-summary callout callout--error error-message error-message-active" role="alert" tabindex="-1">
        <h2 class="h3" id="error-summary">There is a problem</h2>
        <ul class="link-list" id="link-to-errors">
          <li id="first-name-error-link">
            <a href="#first-name">Enter your first name</a>
          </li>
          <li id="last-name-error-link">
            <a href="#last-name">Enter your last name</a>
          </li>
        </ul>
    </div>
      <form class="" action="/{{ PROTOTYPEURL }}/details/3_enter-your-dob" method="post">
         <fieldset>
            <legend>
               <h1 class="h2">{{ contentTitle }}</h1>
            </legend>
            <div class="grid-row">
               <div class="column--two-thirds">
                  <div class="form-group form-row form-row-error-active has-error" id="first-name">
                    <p class="error error-message error-text error-label error-message-active" id="first-name-error">
                      Enter your first name
                    </p>
                     <label for="first-name-input" class="form-label">First name</label>
                     <input autocomplete="off" type="text" class="form-control" id="first-name-input" name="first-name" value="">
                  </div>
                  <div class="form-group form-row form-group form-row form-row-error-active has-error" id="last-name">
                      <p class="error error-message error-text error-label error-message-active" id="last-name-error">Enter your last name
                      </p>
                     <label for="last-name-input" class="form-label">Last name</label>
                     <input autocomplete="off" type="text" class="form-control" id="last-name-input" name="last-name" value="">
                  </div>
               </div>
            </div>
         </fieldset>
         <input type="submit" class="button" id="submit-details" value="Continue">
      </form>
      <p>
         <a href="javascript: history.go(-1)">Go back to the previous page</a>
      </p>
   </div>
</div>
{% endblock %}
