{% set title = 'Make a choice - Manage your data choice' %}
{% set contentTitle = "Make your choice" %}
{% set PROTOTYPE_URL = 'improve-nhs-app' %}
{% set question = "I allow my confidential patient information to be used for research and planning" %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/set-your-preference.js"></script>
{% endblock %}
{% extends 'layouts/nhsapp-service.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>{{contentTitle}}</h1>

    <p>You’re choosing if data from your health records is used across the health and care system in England.</p>

    <p>You’re not choosing if the NHS App uses your data.</p>


      <form action="#" method="get">
        {{ radios({
          "idPrefix": "gov",
          "name": "gov",
          "fieldset": {
            "legend": {
              "text": question,
              "isPageHeading": false,
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Submit">
        </input>

      </form>

      <p><a href="/{{PROTOTYPE_URL}}/not-app-choice/your-current-choice">Go back</a></p>
    </div>
  </div>
{% endblock %}
