{% set title = 'Make a choice - Manage your data choice' %}
{% set content_title = "Make a choice" %}
{% set PROTOTYPE_URL = 'improve-nhs-app/not-app-choice' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/set-your-preference.js"></script>
{% endblock %}
{% extends 'layouts/nhsapp-service.html' %}

{% block body %}
<main id="content" role="main" class="nhsapp">

  <div class="page-section">
      <div class="grid-row">
        <div class="column--two-thirds">
          <div class="reading-width">

            <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
              <h2 class="h3" id="error-summary">Indicate your choice to continue</h2>
              <ul class="link-list" id="link-to-errors">
              </ul>
            </div>
            <form class="form" action="javascript:confirmAll();">
                <fieldset id="single-question" class="form-group form-row util-no-margin">
                  <legend>
                    <h1 class="h3">I allow my confidential patient information to be used for research and planning</h1>
                  </legend>
                  <div id="single-question-input-error" class="error error-message">
                    <p class="error-text">Indicate your choice to continue</p>
                  </div>

                  <input type="radio" name="single-pref" id="single-opted-in" value="single-opted-in" class="multiple-choice--radio">
                  <label for="single-opted-in" class="form-label form-label--radio multiple-choice--radio lg"> Yes
                  </label>

                  <input type="radio" name="single-pref" id="single-opted-out" value="single-opted-out" class="">
                  <label for="single-opted-out" class="form-label form-label--radio multiple-choice--radio lg"> No
                  </label>


                </fieldset>
              <input id="submit-pref" class="button" type="submit" name="submit-pref" value="Submit">
            </form>

            <p>
              <a href="/{{PROTOTYPE_URL}}/service/your-current-choice">Go back </a>
            </p>

          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
