{% set title = 'Make a choice - Manage your data choice' %}
{% set contentTitle = "I allow my confidential patient information to be used for research and planning" %}
{% set PROTOTYPE_URL = 'improve-nhs-app' %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/set-your-preference.js"></script>
{% endblock %}
{% extends 'layouts/nhsapp-service.html' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1>Your choice</h1>

    <p>You <strong>do not allow</strong> the use of your confidential patient information for research and planning.</p>

    <form action="/{{PROTOTYPE_URL}}/not-app-choice/make-a-choice" method="get">
      <input type="submit" class="nhsuk-button" value="Change">
      </input>
    </form>

    <p><a href="">Go back</a></p>

    </div>
  </div>
{% endblock %}
