{% set PROTOTYPEURL = "improve-nhs-app" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Improving the NHS App content" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL}}/not-app-choice/index">Help users understand they're making a choice about the health and care system, not the NHS App</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL}}/app-orientation/index">Make sure users understand what service they're in when the NHS App remove the banner</a>
      </li>
    </ul>

    </div>
  </div>
</div>
{% endblock %}
