{% set content_title = 'Make your choice' %}
{% set PROTOTYPE_URL = 'improve-nhs-app/not-app-choice' %}
{% set serviceName = "The NHS App" %}
{% set title = contentTitle + " - " + serviceName %}
{% block scripts %}
<script src="/javascripts/{{PROTOTYPE_URL}}/spinner.js"></script>
{% endblock %}
{% extends 'layouts/nhsapp-service.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block body %}

<main id="content" role="main" class="nhsapp">

  <div class="page-section">
      <div class="grid-row">
        <div class="column--full">
            <div class="container--loader">
              <div id="waitingForData" class="loader mobile">
              </div>

            </div>

        </div>
      </div>
  </div>

</main>
{% endblock %}
