{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Sorry, you cannot make your choice because we found more than one person's contact details" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>


      <p>This may be because someone has the same name and postcode as you.</p>

      <p>You may be able to make your choice online by giving us your NHS number.</p>

      </div>
          <input type="submit" class="button" id="submit-details" value="Use my NHS number">
       </form>
      </div>

    </div>
  </div>
</div>
{% endblock %}
