{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Your security code has expired" %}
{% set beta = "True" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <p>
        <a href="">Get a new code</a> or contact us.
      </p>
      <p>
        We can help you use the service, or make your choice on your behalf.
      </p>
      <p>
        <strong>NHS Digital Customer Service Centre</strong>
        <br>Telephone: 0300 303 5678
        <br>Monday to Friday, 9am to 5pm excluding bank holidays
      </p>

    </div>
  </div>
</div>
{% endblock %}
