{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Review your choice" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% set method = data['channelChoice'] %}
{% set authMethod %}
  {% if data['channelChoice'] %}
    {{ "email to al•••••••••••@gmail.com" if method == 'email' }}
    {{ "text to ••••••••788" if method == 'text' }}
  {% else %}
    text to ••••••••788
  {% endif %}
{% endset %}


{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="reading-width">
        <h1 class="h2">Cookie policy</h1>
        <p>The "Choose if data from your health records is shared for research and planning" website puts small files called cookies onto the device you're using the website on (for example your phone).</p>
        <p>We use cookies to:</p>
        <ul>
          <li>keep your visit secure</li>
          <li>check you've seen our cookie banner</li>
        </ul>

        <p>You'll see a message on the site before we store a cookie on your computer.</p>

        <p>Find out more about <a target="_blank" rel="noopener noreferrer" href="https://ico.org.uk/your-data-matters/online/cookies/">how to manage cookies<span class="util-visuallyhidden"> - Page opens in new window</span></a> <span aria-hidden="true"> (opens in new window)</span>.</p>

        <h2 id="how-cookies-are-used">How we use cookies</h2>

        <h3>To keep your visit secure</h3>

        <p>We store a temporary cookie on your device to keep your visit secure when you use our website.</p>

        <div class="table--responsive">
          <table>
            <thead>
              <tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>session_id</td>
                <td>We use this cookie to make sure it’s you that’s using the website so we can keep your visit secure</td>
                <td>When you leave the website</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>To check you've seen our cookie banner</h3>

        <p>You will see a pop up banner when you first visit the website telling you that we use cookies. We store a cookie so that your device knows you've seen the banner and knows not to show it again.</p>

        <div class="table--responsive">
          <table>
            <thead>
              <tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>ndop_seen_cookie_message</td>
                <td>We use this cookie to check if you've seen our cookie message</td>
                <td>After 1 month</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
