{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Error pages" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <h2 class="h3">Enter your name</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-name/no-name">No name entered</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-name/invalid-characters">User entered characters like %</a>
        </li>
      </ul>

      <h2 class="h3">Enter your date of birth</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-date">No date entered</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/date-is-in-the-future">Date is in the future</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-day-or-month">No day or month</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-day-or-year">No day or year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-day">No day</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-month-or-year">No month or year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-month">No month</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/no-year">No year</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/wrong-inputs">Wrong inputs</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-date-of-birth/year-too-short">Year too short</a>
        </li>
      </ul>
      <h2 class="h3">Do you know your NHS number?</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/do-you-know-your-nhs-number/no-option-selected">No option selected</a>
        </li>
      </ul>
      <h2 class="h3">Enter your NHS number</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-nhs-number/no-number">No number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-nhs-number/contains-letters">Contains letters, like a National Insurance Number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-nhs-number/too-short">Too short</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-nhs-number/too-long">Too long</a>
        </li>
      </ul>

      <h2 class="h3">Enter your postcode</h2>
      <ul>

      </ul>

      <h2 class="h3">OTP</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/8X_contact-us">"Contact us" after a failed OTP</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/8X_wrong-details">Incorrect contact details</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
