{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Error pages" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/validation/index">Validation errors</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/system-error/index">System errors</a>
        </li>
      </ul>

    </div>
  </div>
</div>
{% endblock %}
