{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Error pages" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <h2 class="h3">Enter your name</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL}}/errors/enter-your-name/no-name">No name entered</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/enter-your-name/invalid-characters">User entered characters like %</a>
        </li>
      </ul>


      <h2 class="h3">OTP</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/8X_contact-us">"Contact us" after a failed OTP</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/8X_wrong-details">Incorrect contact details</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
