{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Pages" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>
      <h2 class="h3">Your details</h2>
      <ol>
        <li>
          <a href="/{{ PROTOTYPEURL}}/details/1_we-need-to-check-who-you-are">We need to check who you are (interruption card)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/details/2_enter-your-name">Enter your name</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/details/3_enter-your-dob">Enter your date of birth</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/details/4_do-you-know-your-NHS-number">Do you know your NHS number</a>
        </li>
      </ol>
      <h2 class="h3">NHS number route</h2>
      <ol start="5">
        <li>
          <a href="/{{ PROTOTYPEURL }}/nhs-number/5_enter-your-NHS-number">Enter your NHS number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/nhs-number/6_check-your-details">Check your details</a>
        </li>
      </ol>
      <h2 class="h3">Postcode route</h2>
      <ol start="5">
        <li>
          <a href="/{{ PROTOTYPEURL }}/postcode/5_enter-your-postcode">Enter your postcode</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/postcode/6_check-your-details">Check your details</a>
        </li>
      </ol>
      <h2 class="h3">One time passcode (OTP)</h2>
      <ol start="7">
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/7_get-your-security-code">Get your security code</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/OTP/8_enter-your-security-code">Enter your security code</a>
        </li>
      </ol>
      <h2 class="h3">Question</h2>
      <ol start="9">
        <li>
          <a href="/{{ PROTOTYPEURL }}/question/9_make-your-choice">Make your choice</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/question/10_review-your-choice">Review your choice</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/question/11_your-choice-has-been-saved">Your choice has been saved</a>
        </li>
      </ol>
      <h2 class="h3">Errors and additional pages</h2>
      <ol class="inline-list">
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/">All error pages</a>
        </li>
      </ol>
      <h2 class="h3">Messages</h2>
      <h3 class="h4">Emails</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messages/emails/otp">One-time password</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messages/emails/confirmation">Your choice has been saved</a>
        </li>
      </ul>
      <h3 class="h4">Texts</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messages/text/otp">One-time password</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messages/text/confirmation">Your choice has been saved</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
