{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Do you know your NHS number?" %}
{% set beta = "True" %}
{% set title = "Error - " + contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="error error-summary callout callout--error error-message error-message-active" role="alert" tabindex="-1" id="error">
        <h2 class="h3" id="error-summary">There is a problem</h2>
        <ul class="link-list" id="link-to-errors">
          <li id="auth-option-error-link"><a href="#auth-option">Select yes if you know your NHS number</a></li>
        </ul>
      </div>
      <form method="post" action="/opt-out/v1/details/4_do-you-know-your-NHS-number">
         <fieldset id="auth-option" class="form-group form-row util-no-margin form-row-error-active has-error error-message-active">
            <legend>
               <h1 class="h2">{{ contentTitle }}</h1>
            </legend>

            <div class="reading-width">
               <span class="form-label__hint">This is a 10 digit number, like 485 777 3456</span>
               <span class="form-label__hint">You can find this on any letter sent to you by the NHS, on a prescription or by logging in to a GP practice online service</span>
            </div>
            <div class="error error-message error-message-active">
              <p class="error-text error-label">Select yes if you know your NHS number</p>
            </div>
            <div class="form-group__item">
              <input type="radio" name="auth" id="nhs-number-journey" value="yes" class="multiple-choice--radio">
              <label for="nhs-number-journey" class="form-label form-label--radio multiple-choice--radio lg">
              Yes
              </label>
            </div>
            <div class="form-group__item">
              <input type="radio" name="auth" id="no-nhs-number-journey" value="no" class="">
              <label for="no-nhs-number-journey" class="form-label form-label--radio multiple-choice--radio lg">
              No
              </label>
            </div>
         </fieldset>
         <input type="submit" class="button" id="submit-details" value="Continue">
      </form>
      <p>
         <a href="javascript: history.go(-1)">Go back to the previous page</a>
      </p>
   </div>
</div>
{% endblock %}
