{% set PROTOTYPEURL = "website" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Website prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ backLink({
      "href": "/",
      "text": "Go back to the previous page"
    }) }}

    <h1>{{ contentTitle }}</h1>

    <h2>Exploration</h2>

    <ul class="audit-list--unstyled audit-list-cards">
      <li class="audit-list-cards__item">
        <a href="/{{PROTOTYPEURL}}/nhs-app/index">
          <h3 class="audit-list-cards__heading nhsuk-heading-m">Help users use the NHS App</h3>
          <p>
            Changes to start and other ways to make your choice pages
          </p>
        </a>
      </li>
    </ul>

    <h2>Latest</h2>

    <ul class="audit-list--unstyled audit-list-cards">
      <li class="audit-list-cards__item">
        <a href="/{{PROTOTYPEURL}}/v1/overview">
          <h3 class="audit-list-cards__heading nhsuk-heading-m">Next release (v1)</h3>
          <p>
            Start page, and other ways simplification
          </p>
        </a>
      </li>
    </ul>

    <h2>Live</h2>

    <ul class="audit-list--unstyled audit-list-cards">
      <li class="audit-list-cards__item">
        <a href="/{{PROTOTYPEURL}}/release/overview">
          <h3 class="audit-list-cards__heading nhsuk-heading-m">Live release (7th March)</h3>
          <p>Baseline</p>
        </a>
      </li>
    </ul>

  </div>
</div>
{% endblock %}
