{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Sorry, this service is unavailable" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--two-thirds">
    <div class="reading-width">
      <h1 class="h2">{{ contentTitle }}</h1>

      <p>We are updating this service.</p>

      <p>Please try again later.</p>

    </div>
  </div>
</div>
{% endblock %}
