{% set PROTOTYPEURL = "OTP" %}
{% set serviceName = "Choose if data from your health records is shared for research and planning" %}
{% set contentTitle = "Get your security code" %}

{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="reading-width">
         <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
            <h2 class="h3" id="error-summary">There is a problem</h2>
            <ul class="link-list" id="link-to-errors">
               <li>
                  <a href="#verification-radio">No option selected</a>
               </li>
            </ul>
         </div>
         <h1 class="h2">{{ contentTitle }}</h1>
         <p>With the details you gave us we think we’ve found your contact details from your health records.</p>
         <p>We now need to send you a security code. After 30 minutes your security code will not work.</p>
         <form id="verification-radio" class="" action="" method="post">
            <fieldset class="form-group form-row">
               <legend class="h3">
                  Where should we send your security code?
               </legend>
               <div class="error error-message">
                  <p class="error-text error-label">Choose where you would like to receive your security code</p>
               </div>
               <div class="form-group__item">
                  <input type="radio" name="channelChoice" id="email-verification" value="email" class="multiple-choice--radio">
                  <label for="email-verification" class="form-label form-label--radio form-label-lg">
                  By email to al•••••••••••@gmail.com
                  </label>
               </div>
               <div class="form-group__item">
                  <input type="radio" name="channelChoice" id="text-verification" value="text" class="multiple-choice--radio">
                  <label for="text-verification" class="form-label form-label--radio form-label-lg">
                  By text to ••••••••788
                  </label>
               </div>
            </fieldset>
            <input id="choose-option" class="button" type="submit" value="Submit">
            <p><a href="#">What to do if you think these contact details are wrong</a></p>

         </form>
      </div>
   </div>
</div>
{% endblock %}
