{% set PROTOTYPEURL = "opt-out/v1" %}
{% set serviceName = "Choose if data from your health records can be shared for research and planning" %}
{% set contentTitle = "Make your choice" %}
{% set beta = "True" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout-ndop.html' %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
   <div class="column--two-thirds">
      <div class="reading-width">
        {% if data['single-pref'] %}
        <p class="alert alert-info" role="alert" tabindex="-1">
           Your current choice: You <strong id="preference">{{ data['single-pref'] }}</strong> the use of your confidential patient information
        </p>
        {% endif %}

         <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
            <h2 class="h3" id="error-summary">Indicate your choice to continue</h2>
            <ul class="link-list" id="link-to-errors">
            </ul>
         </div>
         <h1 class="h2">{{ contentTitle }}</h1>
         <p>
            Confidential patient information from your health records can be used for improving health, care and services, including:
         </p>
         <ul>
            <li>planning to improve health and care services</li>
            <li>
               research to find a cure for serious illnesses
            </li>
         </ul>
         <p>
            Your decision will not affect your individual care and you can change your mind anytime you like.
         </p>
         <form class="form" action="/{{ PROTOTYPEURL }}/question/10_review-your-choice" method="post">
            <fieldset id="single-question" class="form-group form-row util-no-margin">
               <legend class="h3">
                  I allow my confidential patient information to be used for research and planning
               </legend>
               <div id="single-question-input-error" class="error error-message">
                  <p class="error-text">Indicate your choice to continue</p>
               </div>
               <div class="form-group__item">
                 <input type="radio" name="single-pref" id="single-opted-in" value="allow" class="multiple-choice--radio">
                 <label for="single-opted-in" class="form-label form-label--radio multiple-choice--radio lg"> Yes
                 </label>
               </div>

               <div class="form-group__item">
                 <input type="radio" name="single-pref" id="single-opted-out" value="do not allow" class="">
                 <label for="single-opted-out" class="form-label form-label--radio multiple-choice--radio lg"> No
                 </label>
               </div>
            </fieldset>
            <input id="submit-pref" class="button" type="submit" name="submit-pref" value="Continue">
         </form>
      </div>
   </div>
</div>
{% endblock %}
